html, body{
    height: 100%;
}

body{
    background: linear-gradient(rgb(255, 0, 0), black);
    color: white;
}

button{
    font-size: 15px;
    text-transform: uppercase;
    color:white;
    font-weight: bolder;
    height: 50px;
    width: 200px;
    border: 2px solid white;
    border-radius: 25px;
    background-color:rgb(255, 70, 70);
    text-align: center;
    transition: .7s;    
}

button:hover{
    cursor: pointer;
    background-color:rgb(186, 21, 21);
    
}